$max-mobile: 500px;
$min-tablet: 501px;
$max-tablet: 991px;
$min-desktop: 991px;

$colores: (
    #f484c4,
    #9383e6,
    #7251bc,
    rgb(240, 248, 255)
);

$tipografiaGeneral: "Poppins",sans-serif;

$logonav: 5rem;
$logoentextos: 6rem;
$logoenfooter: 10rem;

$iconos: 4rem;
$iconosRedeSociales: 3rem;

$background-image-header: '../images/imagenHeader-optimizada.png';
